.texteconditions {
    margin: 3% 10%
}
.texteconditions h1 {
    margin-bottom: 5%;
    text-decoration: underline;
    text-align: center;
}
.texteconditions h3 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10%;
}
.texteconditions h4 {
    margin: 5% 0;
}